@model Contact
@{
    ViewData["Title"] = "Delete Contact";
}

<div class="text-center">
    <h3>Do you really want to delete (@Model.Name) contact?</h3>

    <a class="btn btn-primary" role="button" asp-controller="Contact" asp-action="Index">Cancel</a>
    <a class="btn btn-danger" role="button" asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.Id">Confirm</a>
</div>

